[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
airpixel = {editable = true, path = "."}

[dev-packages]
airpixel = {editable = true, path = ".", extras = ["dev", "mock"]}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
